.layout {
    -fx-background: #383838;
}

.create_board_vbox {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}

.visited_boards_vbox {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}

.button {
    -fx-color: #383838;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
}